<header class="navbar">
  <div class="logo">
    FUTBOL SIN ROSTRO
  </div>

  <nav class="menu">
    <a routerLink="/" 
       routerLinkActive="active" 
       [routerLinkActiveOptions]="{ exact: true }">
       Inicio
    </a>

    <a routerLink="/noticias" routerLinkActive="active">
      Noticias
    </a>

    <a routerLink="/partidos" routerLinkActive="active">
      Partidos
    </a>

    <a routerLink="/nosotros" routerLinkActive="active">
      Nosotros
    </a>

    <a routerLink="/camisetas" routerLinkActive="active">
      Camisetas
    </a>

    <a routerLink="/jugadores" routerLinkActive="active">
      Jugadores
    </a>
  </nav>
</header>